/* Grundschrift */
.root {
    -fx-font-family: "Arial";
}

/* Hintergrundfarben */
.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

/* Textfarben */
.text-white {
    -fx-text-fill: #ffffff;
}

.text-yellow {
    -fx-text-fill: #f5c518;
}

/* ListView-Zellen */
.list-view .list-cell:even,
.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

/* MovieCard-Design */
.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.title-cell {
    -fx-text-fill: #f5c518;
    -fx-font-size: 20;
}

.genre-text {
    -fx-text-fill: white;
    -fx-font-style: italic;
}

.button-cell {
    -fx-background-color: #f5c518;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

/* ComboBox-Stil */
.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}

/* Sidebar Navigation */
.sidebar {
    -fx-background-color: #eee;
}

.headline-label {
    -fx-font-size: 24.0;
    -fx-font-weight: bold;
}

.nav-label {
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.hamburger-icon {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-cursor: hand;
}